@import "./base/_index.scss";

.container {
  width: 100%;
  margin: 0 auto;
  padding: 20px;

  @media (min-width: 992px) {
    max-width: 900px;
    width: 900px;
  }

  @media (min-width: 1200px) {
    max-width: 1100px;
    width: 1100px;
  }
}

/* section */

.section {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.section-body {
  display: flex;
  flex-grow: 1;
  flex-direction: column;

  @media (min-width: 992px) {
    align-items: center;
    flex-direction: row;
  }
}

/* information container */

.info-container {
  margin-bottom: 40px;

  @media (min-width: 992px) {
    width: 30%;
    padding-right: 10px;
    margin-bottom: 0;
  }
}

.info-title {
  font-size: 26px;
  margin-bottom: 10px;
}

/* repository details container */

.repository-container {
  @media (min-width: 992px) {
    width: 70%;
    padding-left: 10px;
  }
}

.repository-type-heading {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}

/* repository list */

.repository-list-item {
  width: 100%;
  margin-bottom: 25px;

  &:last-child {
    margin-bottom: 0;
  }
}

/* repository card */

.repository-card-title {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 10px;

  a {
    border-bottom: 1px dashed;
  }
}

.repository-card-desc {
  font-size: 16px;
  margin-bottom: 7px;
}

.repository-card-footer-link {
  font-size: 14px;
}

/* repfooter footer list */

.repository-card-footer-list-item {
  display: inline-block;
  vertical-align: top;
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }
}

.is-coming-soon {
  opacity: 0.5;
  pointer-events: none;
}
